<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Ingresar</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="registro-login">
    <header>
        <div class="header-first-line">
            <div class="logotipo">
                <img src="/img/logo-mercado-liebre.svg" alt="logotipo">
            </div>
            <div class="busqueda">
                <form action=""><input type="text" placeholder="Buscar productos, marcas" /></form>
                <button><i class="fas fa-search"></i></button>
            </div>
        
        <p class="oferta-cuotas"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
        </p>
    </div>
        <nav>
            <ul class="nav-bar">

                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>

            <ul class="login-bar">

                <li><a href="/register">Creá tu cuenta</a><i class="far fa-address-card"></i></li>
                <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        </nav>
    </header>
    <main>
        <div class="contenedor">
            <h3>Ingresar</h3>
            <form action="">
                <!--username-->
                <div class="container-input">
                    <input class="text" type="text" placeholder="Nombre de usuario" name="username">
                </div>
                <!--contraseña-->
                <div class="container-input">
                    <input class="text" type="password" name="password" placeholder="Contraseña" >
                </div>
                <!--botones-->
                <div class="container-buttons">
                    <button class="btn-celeste" type="submit">Ingresar</button>
                </div>

            </form>
        </div>
    </main>
    <footer>
        <div class="content-footer">

            <section class="cuotas">
                <div class="footer-texts"><i class="fas fa-credit-card"></i></div>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es
                    seguro!</p>
            </section>
            <section class="cuotas">
                <div class="footer-texts"><i class="fas fa-gift"></i></div>
                <h4>Envío gratis desde los $2.500</h4>
                <p>Solo port estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio
                    de Mercado Puntos.</p>
            </section>
            <section class="cuotas">
                <div class="footer-texts"><i class="fas fa-user-shield"></i></div>
                <h4>Seguridad de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre no hay nada que no puedas hacer porque estás siempre
                    protegid@.</p>
            </section>
        </div>
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L</p>
    </footer>
</body>

</html>