header{
    background-color: #EAC926;
    width:100%;
    padding: 5px;
}


.busqueda {
    display: flex;
    width: 30%;
    border-radius: 15px;
    padding-top: 20px;
    margin: -55px 0px 0px 0px;
    position: absolute;
    right: 10px;
    align-items: center;
} 

header{
        background-color: #EAC926;
        width:100%;
        padding: 15px;
    }
    
a, li{
            display: none
        }

    
.busqueda button{
         background-color: white;
         border: 1px solid white;
         border-radius: 2px;
    
     }
    
.logotipo img{
        background-color: #EAC926;
        width: 50%;
        margin: 18px 0px 1px 15px;
    }
    
p.oferta-cuotas{
        text-align:center;
        margin-top: 50px;
    }
    
    
    .burger-menu{
        padding: 1em;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 135px;
        margin-right: 120px;
        color: #ebebeb;
        background-color: #1259c3;
        border-radius: 6px;
    }
    
.busqueda input {
    width: 100%;
    border: 1px solid white;
    border-radius: 2px
}




/*TABLET*/ 

@media (min-width: 769px){

    
    .busqueda {
        width: 55%;

    } 

    .busqueda input {

        padding: 10px;

    }
    .burger-menu{
        display: none
    }

    a, li{
          display: contents;
         color: #000;
           
    }


   .logotipo img{
        width: 33%;
    }

    p.oferta-cuotas{
        width: 22%;
        font-size: 17px;
        margin: -29px 0px 0px 540px
        
    }

   header nav {
        margin-top: 60px;
        display: flex;
        font-size: 17px;
        justify-content: space-between;
        margin: 20px 10px 20px 10px;
    }

    header nav ul{
        display: flex;
        
    }



}
/* DESKTOP */ 
@media (min-width: 1024px){
    header{
        width:100%;
    }
    
    .logotipo img{
        width: 33%;
        display:flex; 
    }

    p.oferta-cuotas{
        width: 33%;
        font-size: 17px;
        margin: -17px 0px 0px 650px;
        display: flex;
        
    }

    header nav {

        margin-top: 60px;
        display: flex;
        font-size: 17px;
        justify-content: space-between;
    }
    header nav ul{
        display: flex;
    }

    header nav ul li{
        margin: 0px 20px;
    }
}