@media (min-width: 320px) {
    a, li{
        display: none
    }


header{
    background-color: #EAC926;
    padding: 1px;
}

.logotipo img{
    background-color: #EAC926;
    width: 50%;
    margin: 18px 0px 1px 15px;
}

.search-bar{
    width: 35%;
    padding: 5px;
    color: #666;
    background-color: #FFF;
    margin: -30px 10px 0px 180px;
    border-radius: 5px;
    line-height: 10px;
    display:block;
}

.search{
    width: 4%;
    color: #666;
    margin: -20px 100px 0px 278px;
    background-color: #FFF;
    display: block;
}

p.oferta-cuotas{
    text-align:center;
    margin-top: 50px;
}

header nav ul li a{ 
    text-decoration: none;
    list-style: none;
    color:black;
}

header nav ul{
    margin: 0px;
    padding: 0px;
}

.burger-menu{
    padding: 1em;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 135px;
    margin-right: 133px;
    color: #ebebeb;
    background-color: #1259c3;
    border-radius: 6px;
}
}

@media (min-width: 361px){

    a, li, h5{
        display: flex;
    }
    .search{
        margin: -24px 170px 0px 160px;
        width: 4%
    }
    .search-bar{
        margin-right: 188px
    }
    
    nav{
        margin-bottom: 1px;
    }

    .login-bar{
        margin-bottom: 15px;
    }

    .logotipo img{
        width: 100px
    }

    .burger-menu{
        display: none
    }
    
}
/*TABLET*/ 

@media (min-width: 768px){
    header{
        width:100%;
    }

    .logotipo img{
        width: 33%;
    }
    .search{
        width: 2%;
        margin: -17px 0px 0px 445px
        
    }
    .search-bar{
        width: 20%;
        text-align: left;
        margin: -50px 0px 0px 280px;
    }

    p.oferta-cuotas{
        width: 22%;
        font-size: 17px;
        margin: -29px 0px 0px 540px
        
    }

    header nav {

        margin-top: 60px;
        display: flex;
        font-size: 17px;
        justify-content: space-between;
    }
    header nav ul{
        display: flex;
    }

    header nav ul li{
        margin: 0px 6px;
    }
}
/* DESKTOP */ 
@media (min-width: 1024px){
    header{
        width:100%;
    }
    
    .logotipo img{
        width: 33%;
        display:flex; 
    }
    .search{
        width: 1%;
        margin: -17px 0px 0px 600px;
        display: flex;
        border-radius: 1px solid #666;
        
    }
    .search-bar{
        width: 20%;
        text-align: left;
        margin: -50px 0px 0px 380px;
        display:flex;
    }

    p.oferta-cuotas{
        width: 33%;
        font-size: 17px;
        margin: -17px 0px 0px 650px;
        display: flex;
        
    }

    header nav {

        margin-top: 60px;
        display: flex;
        font-size: 17px;
        justify-content: space-between;
    }
    header nav ul{
        display: flex;
    }

    header nav ul li{
        margin: 0px 20px;
    }
}