@import url('./general.css');
@import url('./footer.css');
@import url('./header.css');
@import url('./home.css');
@import url('./formularios.css');

/* 
header, main, footer {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

header{
    background-color: #EAC926;
    
}

.search-bar{
    color: #666;
    margin: 10px;
    background-color: hsl(0, 0%, 92%);
    margin-right: 142px;
}

header nav ul li a{ 
    text-decoration: none;
    list-style: none;
    color:black;
}

header nav ul{
    margin: 0px;
    padding: 0px;
}

.burger-menu{
    padding: 1em;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 120px;
    margin-right: 148px;
    color: #ebebeb;
    background-color: #1259c3;
}

.another-helpful-bar{
    margin: 0px;
    padding: 0px;
}
/* body, main? 


body, main{
    background-color: #ebebeb;
}

main{
    width: 90%;
}

.articulos, img{
    background-color: white;
    width: 90%;
}

.articulos{
    padding: 5px;
    margin-bottom: 10px;
    border-top: solid 1px #ebebeb;
}

.truck{
    color: green
}

.oferta-cuotas{
    margin-left: 40px;
}


.logotipo{
    padding: 5px;
    margin-right: 180px
}

h2 {
    font-size: 24px;
}

h5{
    font-size: 16px;
    margin-top: 2px;
}

p.precios{
    font-size: 18px;
    margin-top: 2px;
    margin-bottom: 2px;
}

p.descuentos{
    font-size: 16px;
    margin-top: 2px;
    margin-bottom: 2px;
    color: green
}

.cuotas{
    text-align: center;
}


/* footer 

footer{
    background-color: white;
    padding: 10px; 
    border: solid 10px #ebebeb;
}

.footer-texts{
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}

.copyright{
    margin: 50px 10px 0px 0px;
}